{% extends "base.html" %}

{% block content %}
    <header class="container header-image-container" id="home-heading">
        <div class="container header-message-container">
          <h1 class="header-greeting">Youtube Movies That Will Rock Your Socks Off!</h1>
            <a class="smooth-scroll" href="#adoption.container.cats-for-adoption-wrapper">
              <button type="button" class="browse button large">
                  View Gallery
                </button>
            </a>
        </div>
    </header>
    <div class="container cats-for-adoption-wrapper" id="adoption">
        {% for key,val in movies.iteritems() %}
        <div class="container info-container">
            <a href="{{ url_for('movie_page', movie=key) }}" class="responsive-picture picture-link-1">
                <picture>
                    <img alt="{{movies[key]['title']}}" src="{{movies[key]['poster']}}">
                </picture>
            </a>
          <h2 class="name">{{movies[key]['title']}}</h2>
        </div>
            {% endfor %}
    </div>
{% endblock %}