{% extends "base.html" %}
{% block content %}
<header class="video-responsive" id="info-heading">
    <iframe frameborder="0" height="100%" width="100%" 
        src="https://youtube.com/embed/{{movie['video']}}?autoplay=0&controls=2&showinfo=0&autohide=1">
    </iframe>
</header>

<div class="container info-image-container">
    <div class="container info-container movie-poster">
        <picture>
            <img alt="{{movie['title']}}" src="{{movie['poster']}}">
        </picture>
    </div>
    <div class="movie-info">
        <h1 class="name movie-title">{{movie['title']}}</h1>
        <p class="movie-synopsis paragraph bio">{{movie['Synopsys']}}</p>
        <p class="movie-info-cgr"><span style="color: #0056ac;">Cast: </span>{{movie['cast']}}</p>
        <p class="movie-info-cgr"><span style="color: #0056ac;">Genre: </span>{{movie['genre']}}</p>
        <p class="movie-info-cgr"><span style="color: #0056ac;">TMDB Ratings: </span>{{movie['ratings']}}</p>
    </div>
</div>
{% endblock %}

